# Secrets
.env

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# VS Code settings
.vscode/

mlruns/
best_hyperparams.json

positions.json
trade_log.txt

# .gitignore
requirements.txt
# Runtime Artifacts
*.csv
*.json
*.txt
mlruns/
